/* General CSS to override Bootstrap */
html, body, div {
  font-family: 'Open Sans', sans-serif;
  background-color: #990000 !important;
  color: #FFCC00 !important;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.openingText {
  margin-top: 10em;
  margin-bottom: 2em;
}
